<nav class="newspaper-nav">
  <div class="nav-title">REPORT AI</div>
  <div class="nav-links">
    {% for item in site.data.navigation %}
      {% assign page_url = page.url | remove: '/' | remove: '.html' %}
      {% assign item_url = item.link | remove: '/' | remove: '.html' %}
      <a href="{{ item.link }}" class="nav-item {% if page_url == item_url %}active{% endif %}">
        {{ item.name }}
      </a>
      {% unless forloop.last %}
        <span class="nav-separator">|</span>
      {% endunless %}
    {% endfor %}
  </div>
</nav>
